.smallinu{
    max-width: 100%;
    max-height: 100%;
}
.bg{
    background: #0059b3;
}
.para {
	width: 150px;
	height: 75px;
	transform: skew(40deg);
	background: #330066;
    border-style: solid;
    border-color: whitesmoke;
    border-width:5px;

}
.para:hover{
    box-shadow: 10px 10px #cccc00;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}
.logo{
}